.users_table{
    &__wrapper{
    width: 100%;
    height: 100%;
    box-shadow: 2px 2px 6px  gray;
    border-radius: var(--common_border_radius);
    overflow-y: scroll;
    }
    width: inherit;
    border-collapse: collapse;
&__head{
    background-color: whitesmoke;
    position: sticky;
    top: 0;
    left: 0;
}
    &__head_cell{
        font-size: small;
        padding: .5rem .2rem; 
    }
    &__row{
        border-bottom: 1px solid gray;
    }
    &__body_cell{
    text-align: center;   
    padding: .5rem .2rem; 
    }
    &__body>.users_table__row:last-of-type{
    border-color: transparent;
    }
    }